---
// import Education from "@/components/Education.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Intro from "@/components/Intro.astro";
import Projects from "@/components/Projects.astro";
// import About from "@/components/About.astro";
import Contact from "@/components/Contact2.astro";
import { SECTION } from "@/config";
import { metaDetails } from "@/config/details";
// import Experience from "@/components/Experience.astro";
// import VenoBoxAnimations from "@/components/VenoBoxAnimations.astro";
import "@/styles/main.scss";

const sections = [
  { id: SECTION.INTRO, Component: Intro },
  // { id: SECTION.ABOUT, Component: About },
  // { id: SECTION.EXPERIENCE, Component: Experience },
  { id: SECTION.PROJECTS, Component: Projects },
  { id: SECTION.CONTACT, Component: Contact },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={metaDetails.author} />

    <title>{metaDetails.title}</title>
    <meta property="og:title" content={metaDetails.title} />
    <meta property="og:description" content={metaDetails.description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={metaDetails.url} />
    <meta property="og:site_name" content={metaDetails.author} />
    <meta property="og:image" content={metaDetails.ogImg.url} />
    <meta property="og:image:width" content={metaDetails.ogImg.width} />
    <meta property="og:image:height" content={metaDetails.ogImg.height} />
    <meta property="og:image:type" content={metaDetails.ogImg.type} />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content={metaDetails.description} />
    <meta name="keywords" content={metaDetails.keywords} />

    <meta itemprop="name" content={metaDetails.title} />
    <meta itemprop="description" content={metaDetails.description} />
    <meta itemprop="image" content={metaDetails.ogImg.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={metaDetails.url} />
    <meta name="twitter:site" content={metaDetails.twitterId} />
    <meta name="twitter:creator" content={metaDetails.twitterId} />
    <meta name="twitter:title" content={metaDetails.title} />
    <meta name="twitter:description" content={metaDetails.description} />
    <meta name="twitter:image:src" content={metaDetails.ogImg.url} />
  </head>
  <body class="bg-white dark:bg-black">
    <Header class="py-5 max-w-[1100px] mx-auto px-2 md:px-12 lg:px-20" />
    <main>
      {
        sections.map(({ id, Component }) => (
          <Component
            id={id}
            class:list={["max-w-[1100px] mx-auto px-6 sm:px-12 lg:px-20"]}
          />
        ))
      }
    </main>

    <Footer class="py-5 max-w-[1100px] mx-auto px-2 md:px-12 lg:px-20" />
    <!-- <VenoBoxAnimations /> -->
  </body>
</html>
