---
import { projects } from "@/config/projects";
import { Image } from "astro:assets";
const { id, class: className } = Astro.props;
---

<section id={id} class:list={["pt-10 pb-16", className]}>
  <h1 class="section-heading">My projects</h1>
  <p
    class="pt-[15px] pb-[60px] text-[22px] text-[#777777] dark:text-[#b0aaa6] leading-[1.8] text-center"
  >
    A showcase of innovative solutions and successful implementations.
  </p>
  <div>
    {
      projects.map(
        ({
          title,
          featureImage,
          images,
          desc,
          techStack,
          link,
          githubLink,
        }) => (
          <article class="pb-7 last-of-type:mb-0 last-of-type:border-none mb-[50px] border-b border-[#e5e5e5]">
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="text-[32px] font-semibold align-middle pr-4 inline-block"
            >
              {title}
            </a>
            <div class="py-2 text-lg">{desc}</div>
            <div class="flex flex-wrap gap-2 mt-2">
              {techStack.map((tech) => (
                <span class="inline-flex px-2 h-6 text-dark items-center rounded text-sm bg-gray-200">
                  {tech}
                </span>
              ))}
            </div>
            <div class="mt-6 mb-[30px]">
              <Image
                class="w-full border border-gray-400"
                src={featureImage}
                alt="Project Screenshot"
                loading="lazy"
              />
            </div>
            {/* <div class="flex flex-wrap justify-center gap-2 -mt-4 mb-10">
              {images.map((img) => (
                <Image
                  class="h-6 w-auto border border-black"
                  src={img}
                  alt="Screenshot"
                />
              ))}
            </div> */}
            <div class="flex gap-6">
              <a
                class={`inline-flex justify-center items-center h-9 rounded whitespace-nowrap 
                  align-middle transition-all cursor-pointer text-dark select-none text-base font-semibold appearance-none px-[18px]
                  bg-[#ebebeb] hover:bg-[#f5f5f5]
                  `}
                href={link}
                rel="noopener noreferrer"
                target="_blank"
              >
                Visit website →
              </a>
              {/* <a
                class={`inline-flex justify-center items-center h-9 rounded whitespace-nowrap 
                  align-middle transition-all cursor-pointer select-none text-base font-semibold appearance-none px-[18px]
                  bg-[#ebebeb] hover:bg-[#f5f5f5]
                  `}
                href={link}
                rel="noopener noreferrer"
                target="_blank"
              >
                Visit gallary{" "}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
                </svg>
              </a> */}
            </div>
          </article>
        )
      )
    }
  </div>
</section>
