---
import { projects } from "@/config/projects";
import { Image } from "astro:assets";
const { id, class: className } = Astro.props;
---

<section id={id} class:list={["pt-7 sm:pt-10 pb-10 sm:pb-16", className]}>
  <h1 class="section-heading">My projects</h1>
  <p
    class="pt-[15px] pb-[60px] text-[20px] sm:text-[22px] text-[#777777] dark:text-[#b0aaa6] leading-7 sm:leading-[1.8] text-center"
  >
    A showcase of innovative solutions and successful implementations.
  </p>
  <div>
    {
      projects.map(
        ({
          title,
          featureImage,
          images,
          desc,
          techStack,
          link,
          githubLink,
        }) => (
          <article class="pb-7 last-of-type:mb-0 last-of-type:border-none mb-[50px] border-b border-[#e5e5e5]">
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="text-[30px] sm:text-[32px] font-semibold align-middle pr-4 inline-block"
            >
              {title}
            </a>
            <div class="py-2 text-lg">{desc}</div>
            <div class="flex flex-wrap gap-2 mt-2">
              {techStack.map((tech) => (
                <span class="inline-flex px-2 h-6 text-dark items-center rounded text-sm bg-gray-200">
                  {tech}
                </span>
              ))}
            </div>
            <div class="mt-6 mb-[30px]">
              <Image
                class="w-full border border-gray-400"
                src={featureImage}
                alt="Project Screenshot"
                loading="lazy"
              />
            </div>

            <div class="hidden">
              {images.map((img) => (
                <a
                  class:list={[
                    "mr-2 border-2 border-gray-500 mb-2",
                    `js--modal-image-${title.toLowerCase()}`,
                  ]}
                  data-gall={`${title.toLowerCase()}_gallary`}
                  href={img.src}
                />
              ))}
            </div>
            <div class="flex gap-5 sm:gap-6 flex-wrap">
              <a
                class={`inline-flex justify-center items-center h-9 rounded whitespace-nowrap 
                  align-middle transition-all cursor-pointer text-light select-none text-base font-semibold appearance-none px-[18px]
                  bg-[#3273dc] hover:bg-[#2260c4] gap-2.5
                  `}
                href={link}
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg
                  height="14"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
                  />
                </svg>
                Visit Website
              </a>
              <a
                class={`inline-flex justify-center items-center h-9 rounded whitespace-nowrap 
                  align-middle transition-all cursor-pointer select-none text-dark text-base font-semibold appearance-none px-[18px]
                  bg-[#ebebeb] hover:bg-[#f5f5f5] gap-2.5
                  `}
                id={`venobox_viewmore_${title.toLowerCase()}`}
                href="#"
              >
                <svg
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M160 80H512c8.8 0 16 7.2 16 16V320c0 8.8-7.2 16-16 16H490.8L388.1 178.9c-4.4-6.8-12-10.9-20.1-10.9s-15.7 4.1-20.1 10.9l-52.2 79.8-12.4-16.9c-4.5-6.2-11.7-9.8-19.4-9.8s-14.8 3.6-19.4 9.8L175.6 336H160c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16zM96 96V320c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160c-35.3 0-64 28.7-64 64zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V344c0 75.1 60.9 136 136 136H456c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120zm208 24a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
                  />
                </svg>
                Gallary{" "}
              </a>
            </div>
          </article>
        )
      )
    }
  </div>
</section>

<script>
  import { projects } from "@/config/projects";
  import VenoBox from "venobox";

  projects.map((project) => {
    const title = project.title.toLowerCase();
    const venobox = new VenoBox({
      selector: `.js--modal-image-${title}`,
      // maxWidth: "80%", // default: ''
      infinigall: true, // default: false,
      numeration: true,
    });

    const viewMoreButton = document.getElementById(`venobox_viewmore_${title}`);
    viewMoreButton.addEventListener("click", (e) => {
      e.preventDefault();
      const firstLink = document.querySelector(`.js--modal-image-${title}`);
      venobox.open(firstLink);
    });
  });
</script>
